@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.content{
  width: 100%;
  overflow: hidden;
  margin: auto;
  padding: 0px 0;
}
.header{
  height: 100vh;
  background-image: url(img/beer4.png);
  background-size: cover;
  background-position: auto;
    font-size: 60px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
  }
  .h1{
    font-size: 20px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
 }
 .left_area {
  margin-top:-80;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
  text-align: center;
}


.left_area span{
  color: #ffc400;
}
 
.logout_btn:hover{
  background: #ffd900;
}
.sidebar .profile {
  margin-top: 20px;
  width: 130px;
  height: 130px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar h4{
  color: #ffc400;
  margin-top: 0;
  margin-bottom: 20px;
}
.btn{
  position: absolute;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar i{
  padding-right: 10px;
}
.btn.click{
  left: 260px;
}
label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

.btn span{
  color: white;
  font-size: 28px;
  line-height: 45px;
}
.btn.click span:before{
  content: '\f00d';
}
.sidebar{
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  background: #1b1b1b;
  transition: left 0.4s ease;
}
.sidebar.show{
  left: 0px;
}
.sidebar .text{
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}
nav ul{
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li{
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ul li a{
  position: relative;
  color: rgb(192, 190, 190);
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
nav ul li.active a{
  color: #fcd600(239, 255, 9);
  background: #1e1e1e;
  border-left-color: #fcd600(255, 196, 0);
}
nav ul li a:hover{
  background: #fcd600;
  color:#1b1b1b;
}
nav ul ul{
  position: static;
  display: none;
}
nav ul .feat-show.show{
  display: block;
}
nav ul .serv-show.show1{
  display: block;
}
nav ul ul li{
  line-height: 42px;
  border-top: none;
}
nav ul ul li a{
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}
nav ul li.active ul li a{
  color: #bbbbbb;
  background: #1e1e1e;
  border-left-color: transparent;
}
nav ul ul li a:hover{
  color: #1e1e1e!important;
  background: #fcd600!important;
}
nav ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #202020;
  z-index: -1;
  text-align: center;
}

