:root {
  --main-bg-color: #ffc600;
  --main-text-color: #ffc600;
  --second-text-color: #bbbec5;
  --second-bg-color: #bbbec5;
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-image: url(../img/fondo5.png);
  background-color: #1b1b1b;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgb(48, 48, 48) 12%,
    rgb(37, 37, 37) 100%
  );
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
.fa-user {
  color: #ffc600;
}
.border-left-primary:{
  border-left:0.25rem solid rgb(252, 214, 0)!important
  border-left-width:0.25rem !important;
  border-left-style: solid !important;
  border-left-color:  rgb (252,214,0) !important;
}

.dimension {
  width: 500px;
  height: 300px;
}

.nav-tabs .nav-link.active {
  background-color: #ffc600;
  color: #fff;
  border: 3px solid #ffc600;
}

.nav-tabs .nav-link {
  background-color: #fff;
  color: #ffc600;
  border: 3px solid #ffc600;
  margin-right: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.nav-tabs .nav-link:hover {
  border: 3px solid #ffc600;
}

.nav-tabs {
  border-bottom: 3px solid #ffc600;
}

.tab-content {
  border: 3px solid #ffc600;
  padding: 20px;
}
